<p>
  main-component
</p>
<div><!-- start slipsum code -->
  
  Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit. 
  
  <!-- end slipsum code -->
</div><br>
<div><!-- start slipsum code -->
  
  Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?
  
  <!-- end slipsum code -->
</div><br>
<div><!-- start slipsum code -->
  
  Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.
  
  <!-- end slipsum code -->
</div><br>
<div>The object without a precise designation, often referred to simply as "thing", but which I pronounce without the letter "h", produces a vast array of sounds that I find very difficult to describe using just the English language. Therefore I am instead going to try to mimic the sounds with my own voice while making convincing gestures using my hands, arms and whole body. The sounds vary from those consisting of just one syllable to more complicated ones that require me to move and slide my tongue along the roof of my mouth very quickly and repeatedly. Some of the sounds resemble those caused by bullet-firing weapons while others are similar to explosive detonations. However, some people would say that they are actually unintelligible words and would classify them as gibberish. I have to admit that one of the reasons I am in fact making all these sounds is to produce a humorous effect by intentionally emphasizing the ridiculousness of it all.
</div>